{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
{% endblock css %}

{% block title %}
EventHub
{% endblock title %}

{% block content %}
    <div class="home-page-welcome-txt">
        {% if user.is_authenticated %}
            <h1>Welcome {{ user.first_name }}!</h1>
        {% else %}
            <h1>Welcome!</h1>
        {% endif %}
        <p class="event-welcome-txt">EventHub — is an event management platform where users can create events,
            register for them, and interact with other participants. Each user has their own profile with
            personal information and a photo. They can view available active events, register for them,
            or create new ones. Each event has its own page with details, a list of participants, and
            the ability to comment. This allows you to efficiently organize and participate in events.</p>
        <div class="auth-button-container">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><button class="reg-login-logout-btn">Logout</button></a>
                <a href="{% url 'password_update' slug=slug %}"><button class="reg-login-logout-btn">Change password</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button class="reg-login-logout-btn">Login</button></a>
                <a href="{% url 'register' %}"><button class="reg-login-logout-btn">Register</button></a>
            {% endif %}
        </div>
    </div>
{% endblock content%}