body {
    background-color: #282828;
    overflow: hidden;
}

.home-page-welcome-txt {
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-top: 15%;
    text-align: center;
}

.event-welcome-txt {
    font-size: 22px;
}

.auth-button-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.login-btn {
    color: #171717;
    font-size: 28px;
    background-color: #eb5959;
    border-radius: 20px;
    border-width: 0;
    width: 20%;
    transition: transform .2s ease;
}

.reg-btn {
    color: #171717;
    font-size: 28px;
    background-color: #eb5959;
    border-radius: 20px;
    border-width: 0;
    width: 20%;
    transition: transform .2s ease;
}

.reg-btn:active, .login-btn:active {
    background-color: goldenrod;
}
