{% extends 'event/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'event/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'event/css/detail.css' %}">
{% endblock css %}

{% block title %}
    {{ event.title }}
{% endblock title %}

{% block content %}
    <div class="event-details-container">
        <section class="event-details-img-and-information">
            <img class="event-details-img-container" src="{{ event.event_image.url }}">
            <div class="event-details-event-information">
                <p><strong>Title:</strong> {{ event.title }}</p>
                <p><strong>Date:</strong> {{ event.date_time }}</p>
                <p><strong>Location:</strong> {{ event.location }}</p>
                <p><strong>Max Participants:</strong> {{ event.max_participants }}</p>
                <p><strong>Creator:</strong> {{ event.creator.first_name|capfirst }} {{ event.creator.last_name|capfirst }}</p>
            </div>
        </section>
        <section class="event-details-description">
            <p><strong>Description:</strong> {{ event.description|linebreaks }}</p>
        </section>
        <section class="event-details-participants">
            <p><strong>Participants ({{ event.participants.count }})</strong></p>
            <div class="list-participants" id="list-participants">
                {% for participant in event.participants.all %}
                    <a href="/profile/{{ participant.slug }}" style="text-decoration: none; color: white">
                        <img src="
                            {% if participant.profile_picture %}
                                {{ participant.profile_picture.url }}
                            {% else %}
                                {% static 'img/default_profile_img.png' %}
                            {% endif %}"
                             alt="Profile Picture">
                        {{ participant.user.first_name|capfirst }}
                        {{ participant.user.last_name|capfirst }}
                    </a>
                {% empty %}
                    <li>No participants yet.</li>
                {% endfor %}
            </div>
        </section>
        <section class="event-details-comments" id="event-details-comments">
            <h4>Comments:</h4>
            {% for item in comments_with_info %}
                <div class="comment-container">
                    <div class="author-image">
                        <img class="author-picture" src="
                        {% if item.comment.author.profile_picture %}
                            {{ item.comment.author.profile_picture.url }}
                        {% else %}
                            {% static 'img/default_profile_img.png' %}
                        {% endif %}">
                    </div>
                    <div class="author-container" style="display: flex; flex-direction: column;">
                        <p class="author-name">
                            <a href="/profile/{{ item.comment.author.slug }}">
                                {{ item.comment.author }}
                                {% if request.user.id == item.comment.author.user.id %}
                                    <a href="{% url 'delete-comment' slug=event.slug comment_id=item.comment.id %}">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </a>
                        </p>
                        <p class="comment-text">{{ item.comment.text }}</p>
                        <p class="comment-text">
                            {% if user.is_authenticated %}
                                {% if item.info.liked_by_user %}
                                    <a href="{% url 'delete_reaction' comment_id=item.comment.id %}" style="color: #eb5959">
                                        {{ item.info.likes }}<i class="far fa-thumbs-up" style="margin-left: 5px"></i>
                                    </a> |
                                    <a href="{% url 'dislike-comment' comment_id=item.comment.id %}">
                                        {{ item.info.dislikes }}<i class="far fa-thumbs-down" style="margin-left: 5px"></i>
                                    </a>
                                {% elif item.info.disliked_by_user %}
                                    <a href="{% url 'like-comment' comment_id=item.comment.id %}">
                                        {{ item.info.likes }}<i class="far fa-thumbs-up" style="margin-left: 5px"></i>
                                    </a> |
                                    <a href="{% url 'delete_reaction' comment_id=item.comment.id %}" style="color: #eb5959">
                                        {{ item.info.dislikes }}<i class="far fa-thumbs-down" style="margin-left: 5px"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'like-comment' comment_id=item.comment.id %}">
                                        {{ item.info.likes }}<i class="far fa-thumbs-up" style="margin-left: 5px"></i>
                                    </a> |
                                    <a href="{% url 'dislike-comment' comment_id=item.comment.id %}">
                                        {{ item.info.dislikes }}<i class="far fa-thumbs-down" style="margin-left: 5px"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'not_auth_profile' %}">
                                    {{ item.info.likes }}<i class="far fa-thumbs-up" style="margin-left: 5px"></i>
                                </a> |
                                <a href="{% url 'not_auth_profile' %}">
                                    {{ item.info.dislikes }}<i class="far fa-thumbs-down" style="margin-left: 5px"></i>
                                </a>
                            {% endif %}
                        </p>
                        <p class="comment-text" style="color: #898989">{{ item.comment.created_at }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
        <section class="leave-comment-container" id="leave-comment-container">
            {% if user.is_authenticated %}
                {% if form %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.text }}
                        <button class="btn btn-success" type="submit">Add comment</button>
                    </form>
                {% endif %}
            {% endif %}
        </section>
        <section class="event-details-update-btn">
            {% if event.creator.id == request.user.id %}
                <a class="form-for-update" href="{% url 'event_update' event.slug %}">
                    <button class="event-update-btn">Edit Event</button>
                </a>
                <form class="form-for-delete" method="post" action="{% url 'event_delete' event.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="event-update-btn">Delete Event</button>
                </form>
            {% else %}
                {% if user.is_authenticated %}
                    {% if errors %}
                        <p style="color: #eb5959">{{ errors }}</p>
                    {% else %}
                        {% if registered %}
                            <a class="form-for-update" href="{% url 'unregister_to_event' slug=event.slug username=user.username %}#list-participants">
                                <button class="event-update-btn">Unsubscribe</button>
                            </a>
                        {% else %}
                            <a class="form-for-update" href="{% url 'registration_to_event' slug=event.slug username=user.username %}#list-participants">
                                <button class="event-update-btn">Subscribe</button>
                            </a>
                        {% endif %}
                    <a class="form-for-update" href="{% url 'commenting' slug=event.slug %}#leave-comment-container">
                        <button class="event-update-btn">Comment</button>
                    </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </section>
    </div>
{% endblock content %}