{% extends 'event/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'event/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'event/css/create.css' %}">
{% endblock css %}

{% block title %}
    Update {{ event.title }}
{% endblock title %}

{% block content %}
    <div class="Event-add-form">
        <h1>Update {{ event.title }}</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.title }}<br>
            {{ form.description }}<br>
            {{ form.location }}<br>
            {{ form.date_time }}<br>
            {{ form.max_participants }}<br>
            {{ form.event_image }}<br>
            <span>{{ errors }}</span>
            <button class="btn btn-success" type="submit">Update event</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock content %}