{% extends 'profile/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'profile/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/change_password.css' %}">
{% endblock css %}

{% block title %}
    {{ profile.user.username|capfirst }}
{% endblock title %}

{% block content %}
    <div class="profile-change-password-form">
        <h1>Update {{ profile.user.username|capfirst }} profile</h1>
        <form method="post">
            {{ form.old_password }}<br>
            {{ form.new_password }}<br>
            {{ form.new_password_confirm }}<br>
            {% if form.non_field_errors %}
                <ul class="errorlist" style="list-style: none; color: #eb5959; padding: 0">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <button class="btn btn-success" type="submit">Change password</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock content %}